<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ajouter un propriétaire</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-light">
    <%- include('../partials/header') %>

    <div class="container mt-4">
      <h2>Ajouter un propriétaire</h2>

      <form action="/proprietaires" method="POST" class="mt-4">
        <div class="row mb-3">
          <div class="col">
            <label for="nom" class="form-label">Nom</label>
            <input
              type="text"
              class="form-control"
              id="nom"
              name="nom"
              required
            />
          </div>
          <div class="col">
            <label for="prenom" class="form-label">Prénom</label>
            <input
              type="text"
              class="form-control"
              id="prenom"
              name="prenom"
              required
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>

          <div class="col">
            <label for="telephone" class="form-label">Téléphone</label>
            <input
              type="text"
              class="form-control"
              id="telephone"
              name="telephone"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="adresse" class="form-label">Adresse propriétaire</label>
            <input
              type="text"
              class="form-control"
              name="adresseProp"
              id="adresse"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="villeProp" class="form-label">Ville</label>
            <select class="form-control" id="villeProp" name="villeProp">
              <option value="Les Adrets">Les Adrets</option>
              <option value="Fréjus">Fréjus</option>
              <option value="Puget-sur-Argens">Puget-sur-Argens</option>
              <option value="Roquebrune-sur-Argens">
                Roquebrune-sur-Argens
              </option>
              <option value="Saint-Raphaël">Saint-Raphaël</option>
              <option value="Autre">Autre</option>
            </select>
          </div>

          <div class="col">
            <label for="statut" class="form-label">Statut</label>
            <select class="form-control" id="statut" name="statut">
              <option value="Propriétaire occupant">
                Propriétaire occupant
              </option>
              <option value="Propriétaire bailleur">
                Propriétaire bailleur
              </option>
              <option value="Locataire">Locataire</option>
              <option value="Nu-propriétaire">Nu-propriétaire</option>
              <option value="Occupant à titre gratuit">
                Occupant à titre gratuit
              </option>
              <option value="SCI">SCI</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <label for="revenuFiscal" class="form-label"
              >Revenu Fiscal de référence (€)</label
            >
            <input
              type="number"
              class="form-control"
              id="revenuFiscal"
              name="revenuFiscal"
            />
          </div>

          <div class="col">
            <label for="nombrePersonnes" class="form-label"
              >Nombre de personnes dans le foyer</label
            >
            <input
              type="number"
              class="form-control"
              id="nombrePersonnes"
              name="nombrePersonnes"
            />
          </div>
          <div class="col">
            <label class="form-label">Type de propriétaire</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="physMorale"
                id="physique"
                value="Personne physique"
                checked
              />
              <label class="form-check-label" for="physique"
                >Personne physique</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="physMorale"
                id="morale"
                value="Personne morale"
              />
              <label class="form-check-label" for="morale"
                >Personne morale</label
              >
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">
          Ajouter le propriétaire
        </button>
        <a href="/logements/nouveau" class="btn btn-secondary ms-2">
          Créer un logement
        </a>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
