<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ajouter un logement</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <%- include('../partials/header') %>

    <div class="container mt-4">
      <h2>Ajouter un logement</h2>

      <form action="/logements" method="POST" class="mt-4">
        <div class="mb-3">
          <label for="proprietaireId" class="form-label">Propriétaire</label>
          <select
            class="form-select"
            id="proprietaireId"
            name="proprietaireId"
            required
          >
            <% proprietaires.forEach(proprio => { %>
            <option value="<%= proprio.id %>">
              <%= proprio.nom %> <%= proprio.prenom %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3">
          <label for="adresse" class="form-label">Adresse</label>
          <input
            type="text"
            class="form-control"
            id="adresse"
            name="adresse"
            required
          />
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <label for="codePostal" class="form-label">Code Postal</label>
            <input
              type="text"
              class="form-control"
              id="codePostal"
              name="codePostal"
              required
            />
          </div>

          <div class="col-8">
            <label for="villeProp" class="form-label">Ville</label>
            <select class="form-control" id="villeProp" name="villeProp">
              <option value="Les Adrets">Les Adrets</option>
              <option value="Fréjus">Fréjus</option>
              <option value="Puget-sur-Argens">Puget-sur-Argens</option>
              <option value="Roquebrune-sur-Argens">
                Roquebrune-sur-Argens
              </option>
              <option value="Autre">Autre</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <label for="anneeConstruction" class="form-label"
              >Année de construction</label
            >
            <input
              type="number"
              class="form-control"
              id="anneeConstruction"
              name="anneeConstruction"
            />
          </div>

          <div class="col-4">
            <label for="surface" class="form-label">Surface (m²)</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              id="surface"
              name="surface"
            />
          </div>

          <div class="col-4">
            <label for="type" class="form-label">Type</label>
            <input
              type="text"
              class="form-control"
              id="type"
              name="type"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="modeChauffage" class="form-label"
            >Mode de chauffage</label
          >
          <input
            type="text"
            class="form-control"
            id="modeChauffage"
            name="modeChauffage"
          />
        </div>

        <div class="mb-3">
          <label for="eauChaude" class="form-label">Eau chaude</label>
          <input
            type="text"
            class="form-control"
            id="eauChaude"
            name="eauChaude"
          />
        </div>

        <div class="mb-3">
          <label for="classeDPE" class="form-label">Classe DPE</label>
          <input
            type="text"
            class="form-control"
            id="classeDPE"
            name="classeDPE"
            required
          />
        </div>

        <div class="mb-3">
          <label for="projet" class="form-label">Projet</label>
          <input type="text" class="form-control" id="projet" name="projet" />
        </div>

        <button type="submit" class="btn btn-primary">
          Ajouter le logement
        </button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
